body {
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}

.inner {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.large-inner {
  position: relative;
  max-width: 1300px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 190px;
  height: 50px;
}

.btn:hover {
  color: #fff;
  background-color: #1f2147;
}

// .btn {
//   width: 130px;
//   height: 40px;
//   background-color: #1f2147;
//   color: #fff;
//   font-size: 12px;
//   font-weight: 600;
//   border: 1px solid #1f2147;
//   border-radius: 5px;
//   box-sizing: border-box;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   transition: .3s;
// }



.btn.btn--white {
  color: #1f2147;
  border: #fff;
  background-color: #fff;
}

.btn.btn--white:hover {
  color: #fff;
  background-color: #1f2147;
}

// header
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
  background-color: #F6F5F0;
  border-bottom: 1px solid #c8c8c8;

  >.inner {

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 12px;

      .navbar__logo a img {
        width: 150px;
      }

      .navbar__menu {
        display: flex;

        li {
          padding: 8px 12px;

          a {
            color: #202147;
          }
        }

        li:hover {
          background-color: #d49466;
          border-radius: 4px;
        }
      }

      .navbar__toogleBtn {
        display: none;
        position: absolute;
        right: 32px;
        font-size: 24px;
        color: #d49466;
      }
    }
  }
}

//video
.video {
  text-align: center;
  margin-top: 100px;

  video {
    width: 100%;
    height: 100%;
  }
}

// Vision
.vision {
  padding: 170px 0 180px;
  background-color: #fff;
  text-align: center;

  >.inner {
    display: flex;
    flex-direction: column;

    .vision-description {
      padding-bottom: 50px;

      h3 {
        font-size: 50px;
        font-weight: 900;
        margin-bottom: 50px;
      }

      p {
        font-size: 24px;
        font-weight: 900;
        color: rgb(3, 1, 143);
        padding: 0 20px;
      }
    }
  }

  .large-inner {
    max-width: 1100px;
    .img-box {
      display: flex;

      .img {
        span {
          display: flex;
          justify-content: center;
          font-size: 24px;
          font-weight: 900;
          color: rgb(7, 7, 165);
          padding: 20px;
        }
        img {
          width: 70%;
        }
      }
    }
  }
}

//experience
.experience {
  background-color: #eaeaee;
  padding: 150px 0 120px;

  >.large-inner {
    h3 {
      color: #202147;
      font-size: 60px;
      font-weight: 900;
    }

    .experience__contents {
      .content__item {
        padding: 80px 0;
        display: flex;
        justify-content: space-between;


        .item__text {
          width: 45%;
          padding-top: 40px;

          h4 {
            font-size: 40px;
            font-weight: 900;
          }

          p {
            font-size: 22px;
            font-weight: 600;
            color: #000;
          }
        }

        .item__img {
          width: 45%;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

// Solution
.solution {
  background-color: #4971f3;
  padding: 180px 0 130px;

  >.inner {
    text-align: center;

    h3 {
      color: #fff;
      font-size: 36px;
      font-weight: 900;
      padding: 0 30px 30px 30px;
    }

    p {
      font-size: 22px;
      font-weight: 900;
      color: #fff;

    }

    .solution-box {
      display: flex;

      >.img {
        padding: 30px;

        .img__btn {
          display: flex;
          justify-content: center;
          padding-top: 30px;

          .btn {
            background-color: #fff;
            color: #202147;
            border: 1px solid #202147;
            font-size: 18px;
            font-weight: 900;
            transition: .3s;
          }

          .btn:hover {
            color: #fff;
            background-color: #1f2147;
          }
        }

        img {
          width: 90%;
          margin-top: 50px;
        }
      }
    }
  }
}

// awards
.awards {
  padding: 40px 0;
  overflow: hidden;
  background-color: #272727;

  .inner {
    .swiper-container {
      width: 100%;
      height: 40px;
    }
  }
}


//footer
footer {
  background-color: #9a9af7;

  .inner {
    padding: 40px 0 120px 0;

    p {
      position: absolute;
      bottom: 30px;
      right: 0;
      font-size: 20px;
      color: #fff;
    }
  }
}

@media screen and (max-width: 1340px) {

  //experience
  .experience {
    >.large-inner {
      h3 {
        padding-left: 30px;
      }

      .experience__contents {
        .content__item {
          padding: 80px 30px;

          .item__text {
            padding: 0;

            h4 {
              font-size: 35px;
            }

            p {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {

  //header
  header {
    .inner {
      width: 100%;

      .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;

        .navbar__menu {
          display: none;
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding: 10px 0 10px 0;

          li {
            width: 100%;
            text-align: center;
          }
        }

        .navbar__toogleBtn {
          display: block;
        }

        .navbar__menu.active {
          display: flex;
        }
      }
    }
  }

  //video
  .video {
    margin-top: 74px;
    video {
      width: 100%;
      height: 100%;
    }
  }

  // Vision
.vision {
  >.inner {
    .vision-description {
      h3 {
        font-size: 35px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}
  
  //experience
  .experience {
    background-color: #eaeaee;
    padding-top: 80px;

    >.large-inner {
      text-align: center;

      h3 {
        color: #202147;
        font-size: 45px;
        font-weight: 900;
        padding-bottom: 80px;
        padding-left: 0;
      }

      .experience__contents {
        .content__item:nth-child(2n + 1) {
          position: relative;
          height: 500px;

          .item__text {
            p {
              position: absolute;
              bottom: 60px;
              left: 0;
              right: 0;
              margin: auto;
            }

            h4 {
              width: 40px;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              margin: auto;
            }
          }

          .item__img {

            img {

              position: absolute;
              top: 60px;
              left: 0;
              right: 0;
              margin: auto;
            }
          }
        }

        .content__item:nth-child(2n) {
          position: relative;
          height: 500px;

          .item__text {
            p {
              position: absolute;
              bottom: 60px;
              left: 0;
              right: 0;
              margin: auto;
            }

            h4 {
              width: 40px;
              position: absolute;
              padding: 0;
              top: 0;
              left: 0;
              right: 0;
              margin: auto;
            }
          }

          .item__img {
            img {
              position: absolute;
              top: 60px;
              left: 0;
              right: 0;
              margin: auto;
            }
          }
        }

        .content__item {
          padding: 30px 0;

          .item__text {
            padding-top: 40px;

            h4 {
              font-size: 40px;
              font-weight: 900;
            }

            p {
              max-width: 450px;
              font-size: 22px;
              font-weight: 600;
              color: #000;
            }
          }

          .item__img {

            img {
              max-width: 400px;
            }
          }
        }
      }
    }
  }

  // Solution
  .solution {
    background-color: #4971f3;
    padding: 100px 0;

    >.inner {
      width: 100%;
      text-align: center;

      h3 {
        color: #fff;
        font-size: 36px;
        font-weight: 900;
        padding: 0 30px 30px 30px;
      }

      p {
        font-size: 18px;
        font-weight: 900;
        color: #fff;
        padding-bottom: 30px;
      }

      .solution-box {
        display: flex;
        flex-direction: column;

        >.img {
          padding: 30px;

          .img__btn {
            display: flex;
            justify-content: center;
            padding-top: 50px;

            .btn {
              background-color: #fff;
              color: #202147;
              border: 1px solid #202147;
              font-size: 18px;
              font-weight: 900;
            }
          }

          img {
            width: 100%;
            height: 100%;
            margin-top: 50px;
          }
        }
      }
    }
  }

  // awards
.awards {
  padding: 40px 0;
  overflow: hidden;
  background-color: #272727;

  .inner {
    .swiper-container {
      width: 100%;
      height: 40px;
    }
  }
}

  footer {
    background-color: #9a9af7;

    .inner {
      padding: 10px 0 60px 0;

      img {
        width: 30%;
        padding: 10px;
      }

      p {
        position: absolute;
        bottom: 20px;
        right: 10px;
        font-size: 12px;
        color: #fff;
      }
    }
  }
}